<!DOCTYPE html>
<html>
<head>
    <title>PSOIR</title>
</head>
<body>
<div class="content">
<!--    źródło "inspiracji" html'a i początku kodu tutaj https://stackabuse.com/file-management-with-aws-s3-python-and-flask/-->
    <h3>PSOIR</h3>
    <div>
        <h3>Tutaj możesz wrzucić swoje pliki na s3:</h3>
        <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>
    <div>
        <h3>Lista plików obecnie znajdujących się na s3:</h3>
        <p>Kliknij na nazwę pliku aby go pobrać.</p>
        <form action="/rotate_images" method="post">

            <p>Zaznacz pliki i wciśnij przycisk obok aby obrócić zdjęcie o 90°.
                <button type="submit">Rotate 90°</button>
            </p>
            <ul>
                {% for item in contents %}
                <li style="list-style: none">
                    <input type="checkbox" name="{{ item.Key }}">
                    <a href="/download/{{ item.Key }}"> {{ item.Key }} </a> &nbsp;
                </li>
                {% endfor %}
            </ul>
        </form>

    </div>
</div>
</body>
</html>